**/*.log
**/*.local
**/.idea/
**/.vscode/
!.vscode/extensions.json

backend/MealPlan/target/
backend/MealPlan/.mvn/wrapper/maven-wrapper.jar
backend/MealPlan/.apt_generated
backend/MealPlan/.classpath
backend/MealPlan/.factorypath
backend/MealPlan/.project
backend/MealPlan/.settings
backend/MealPlan/.springBeans
backend/MealPlan/.sts4-cache
!**/src/main/**/target/
!**/src/test/**/target/

frontend/mealplan/node_modules
frontend/mealplan/dist
frontend/mealplan/dist-ssr
